* {
 
  font-family: Arial;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin:0;
    border:0;
    padding:0;
  /* keep cursor as mouse! */
  cursor: pointer;
}
 
html,body{
	margin:0;
	border:0;
	padding:0;
	width:  100%;
  height: 100%;
}
 
canvas {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
    
}
 
.gamewrapper {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 1.0;
    
}
 
div {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* width: 50%; */
    -khtml-user-select: none;
}
 
.overcanvas{
 
	position: fixed;
   
    top: 0%;
    left: 0%;
    margin:0;
	border:0;
	padding:0;
}
 
.score{
    position:absolute;
    right:10px;
    top:4px;
}
 
.shelf{
    position:relative;
    height:20px;
    color:#fff;
    padding-left:15px;
    font-weight:900;
    padding-top:5px;
    padding-bottom:5px;
    box-sizing:border-box;
    font-size:12px;
}
 
.rankName{
    position:absolute;
    top:4px;
    font-size:12px;
}
 
.scoreBoard{
    position:absolute;
    right:10px;
    top:10px;
    height:250px;
    background-color:#212F3D;
    opacity:0.6;
    width:170px;
    border-radius:10px;
}
.msgCardOff{
    display:none;
}
 
.msgCardOn{
    display:block;
    position:absolute;
    width:800px;
    height:50px;
    left:400px;
    top:50px;
    border-radius:30px;
    text-align:center;
    vertical-align:middle;
    font-size:30px;
    transition:display 10s;
    color:#003e00;
    padding-top:10px;
}
 
.inventory{
    height:70px;
    width:600px;
    bottom:5px;
    left:400px;
    position:absolute;
    padding:5px;
    display:inline-block;
    
}
 
.stock{
    height:70px;
    width:70px;
    position:relative;
    border:1px solid black;
    border-radius:5px;
    background-color:#212F3D;
    opacity:0.6;
    display:inline-block;
    background-size: contain;
}
 
.selected
{
    top:3px;      
}
 
.stone
{
    background-image:url("../images/stone.png");
    background-repeat:no-repeat;
}
.wood{
    background-image:url("../images/tree.png");
    background-repeat:no-repeat;
}
 
.qty{
    position:absolute;
    bottom:5px;
    right:5px;
    color:white;
}

.crafts{    position:absolute;    top:0px;    left:0px;    height:400px;
}

.craft{    height:70px;    width:70px;    left:10px;    top:10px;    margin:10px;    position:relative;    border:1px solid black;    border-radius:5px;    background-color:#212F3D;    opacity:0.6;    display:block;    background-size: contain;
}

.axe{    background-image:url("../images/axe.png");    background-repeat: no-repeat;
}